@{
  Layout = "_Layout";
}

<div class="container">
<h2>Add a New Patron</h2>
<form action = "/patrons" method = "post">
    <label for = "patronName">Patron Name:</label>
    <input type = "text" name = "patronName">
   
    <button type = "submit">Add Patron</button>
</form>
</div>