@using Library.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
    


<h1>Search Results</h1>
  
  @foreach(var item in @Model)
{  
    <h2><a href = "/patrons/@item["patron"].GetId()">@item["patron"].GetName()</a></h2>
    @foreach (var copy in @item["searchedPatronCopies"])
    {
            <a href = "/patrons/@copy.GetId()"><li>@copy.GetName()</li></a>
    }
}


    </ul>
      <form action = "/patrons/search/" method = "post">
        <label for ="searchPatron">Search Patron by Name</label>
                  <input type = "text" name="searchPatron">
                  <button type="submit" class= "btn btn-lg btn-primary">Search</button>
        </form>
      </div>