@using Library.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
    <h2>All Books</h2>
    <ul>
    @foreach (var book in @Model)
    {
            <a href = "/books/@book.GetId()"><li>@book.GetName()</li></a>
    }
    </ul>