@{
  Layout = "_Layout";
}

<div class="container">
<h2>Add a New Book</h2>
<form action = "/books" method = "post">
    <label for = "bookName">Book Name:</label>
    <input type = "text" name = "bookName">
    <label for = "bookAuthor">Book Author:</label>
    <input type = "text" name = "bookAuthor">
    <button class="btn btn-sm btn-primary" type = "submit">Add Book</button>
</form>
</div>