<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    @RenderBody()
    <nav class="navbar navbar-light" style="background-color: darkgray;">
    <div class="container">
       <a href = "/"><button class="btn btn-lg btn-primary">Home</button></a><br><br>
      <a href = "/authors/new"><button class="btn btn-lg btn-primary">Add Author</button></a>
      <a href = "/authors/search"><button class="btn btn-lg btn-primary">Search Authors</button></a>
      <a href = "/authors/"><button class="btn btn-lg btn-primary">View Authors</button></a> <br><br>
      <a href = "/books/new"><button class="btn btn-lg btn-primary">Add Book</button></a>
      <a href = "/books/search"><button class="btn btn-lg btn-primary">Search Books</button></a>
      <a href = "/books/"><button class="btn btn-lg btn-primary view-btn">View All Books</button></a><br><br>
      <a href = "/patrons/new"><button class="btn btn-lg btn-primary">Add Patron</button></a>
      <a href = "/patrons/search"><button class="btn btn-lg btn-primary">Search Patrons</button></a>
      <a href = "/patrons/"><button class="btn btn-lg btn-primary">View Patrons</button></a>
      </div>
    </nav>
  </body>
</html>
