<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
    <!-- <link rel="stylesheet" href="~/css/bootstrap.css"> -->
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
  </head>
  <body>
    
    <nav class="navbar navbar-light p-5" style="background-color: darkgray;">
    <div class="container">
       <a href = "/"><button class="btn btn-lg btn-success mr-5">Home</button></a>
      <a href = "/authors/new"><button class="btn btn-md btn-primary">Add Author</button></a>
      <a href = "/authors/search"><button class="btn btn-md btn-primary">Search Authors</button></a>
      <a href = "/authors/"><button class="btn btn-md btn-primary mr-5">View Authors</button></a> 
      <a href = "/books/new"><button class="btn btn-md btn-info">Add Book</button></a>
      <a href = "/books/search"><button class="btn btn-md btn-info">Search Books</button></a>
      <a href = "/books/"><button class="btn btn-md btn-info mr-5">View All Books</button></a>
      <a href = "/patrons/new"><button class="btn btn-md btn-warning">Add Patron</button></a>
      <a href = "/patrons/search"><button class="btn btn-md btn-warning">Search Patrons</button></a>
      <a href = "/patrons/"><button class="btn btn-md btn-warning">View Patrons</button></a>
      </div>
    </nav>

    @RenderBody()
  </body>
</html>
