@{
  Layout = "_Layout";
}

<div class="container">
<h2>Add a New Author</h2>
<form action = "/authors" method = "post">
    <label for = "authorName">Author Name:</label>
    <input type = "text" name = "authorName">
   
    <button type = "submit">Add Author</button>
</form>
</div>